body{
    background: url(fondo/fondo9.jpg);
    background-size: 100%;
}
header{
    background-color: #f6b1a9;
    color: black;
    text-align: center;
}
nav{
    background-color: #f2ca89;
    text-align: center;
}
section{
    background-color: #123552;
    grid-column:1/4 ;
    text-align: center;
    color: cornsilk;
}
aside{
    background-color: #12552e ;
    grid-column: 4/5;
    text-align: center;
}
footer{
    background-color: chartreuse;
    text-align: center;    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
